* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  background: #222;
}

nav .links {
  display: flex;
  gap: 30px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3s;
}

nav a:hover {
  color: grey;
}


nav a.active {
  border-bottom: 4px solid #00c853;
  border-radius: 2px;
}

nav .socials a {
  margin-left: 15px;
  font-size: 1.2rem;
}

/* Main section */
.main-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 80px 10%;
  flex-wrap: wrap;
}

.text-content {
  max-width: 500px;
}

.text-content h1 {
  font-size: 42px;
  margin-bottom: 20px;
  transform: translateX(-1000px);
  animation: slideIn 0.5s ease-out forwards;
}

.text-content p {
  font-size: 18px;
  margin-bottom: 30px;
  color: #ddd;
  animation: fade 1s ease-out forwards;
}
/* Homepage index.html */
.text-content-homepage {
  max-width: 50lh;
}

.text-content-homepage h1 {
  font-size: 45px;
  margin-bottom: 50px;
  transform: translateX(-1000px);
  animation: slideIn 0.5s ease-out forwards;
}

.text-content-homepage p {
  max-width: 500px;
  font-size: 18px;
  margin-bottom: 30px;
  color: #ddd;
  animation: fade 0.5s ease-in forwards;
}

.button {
  display: inline-block;
  background: #00c853;
  color: white;
  padding: 12px 25px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s, transform 0.2s;
}

.button:hover {
  background: #009624;
  transform: scale(1.05);
}


/* Hometown */
.description h1{
  padding: 40px 10%;
  font-size: 30px;
  color: #ddd;
  opacity: 0;
  transform: translateX(-100px);
  animation: slideIn 1s ease-out forwards;
}

.description p{
  padding: 10px 10%;
  font-size: 18px;
  color: #ddd;
  opacity: 0;
  animation: fade 1s ease-out forwards;
}

/* Images */
.profile-img {
  width: 250px;
  height: 250px;
  border-radius: 20%;
  object-fit: cover;
  border: 4px solid #333;
  margin-top: 20px;
}

.food-img {
  width: 400px;
  max-width: 100%;
  border-radius: 12px;
  margin-top: 20px;
}

.tourist-img {
  width: 300px;
  height: 400px;
  max-width: 100%;
  border-radius: 12px;
  margin-top: 20px;
}

.tourist2-img {
  margin-right: 10px;
  width: 500px;
  height: 300px;
  max-width: 100%;
  border-radius: 12px;
  margin-top: 20px;
}

.map-img {
  width: 60%;
  max-height: 600px;
  margin: 40px auto; 
  object-fit: fill;
  border-bottom: 4px solid #333;
  display: flex;
}


/* Tourist Slide when show animation */
.slide-in {
  opacity: 0;
  transform: translateX(-100px);
  transition: all 0.8s ease-out;
}

.slide-in.show {
  opacity: 1;
  transform: translateX(0);
}

.slide-in-right {
  opacity: 0;
  transform: translateX(100px);
  transition: all 0.8s ease-out;
}

.slide-in-right.show {
  opacity: 1;
  transform: translateX(0);
}

/* Animation */

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}